* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #12130F;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap:10px;
}

.big-wrapper {
    display: flex;
    flex-direction: row;
    height:100%;
    align-items: center;
    justify-content: space-around;
}

header {
    border-radius: 20px;
    color: white;
    width: 100%;
    height: 10%;
    background-color: #5B9279;
    margin-top: 10px;
}

article {
    width: 50%;
    border-radius: 20px;
    color: white;
    background-color: #8FCB9B;
    width: 40%;
    height: 80%;
}

section {
    border-radius: 20px;
    color: white;
    background-color: #EAE6E5;
    height: 30%;
}

footer {
    border-radius: 20px;
    color: white;
    background-color: #8F8073;
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
}

.small-wrapper {
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    width: 49%;
    height:80%;
    gap: 10px;
}